<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socio - Home</title>
    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <div class="landing-container">
      <img src="/utilities/SocioLogo.png" alt="logo" class="logo" />
      <div class="content">
        <h1>Stay Social</h1>
        <h3>Join today.</h3>
        <div class="buttons">
          <button class="btn" style="display: flex; width: 11rem">
            Sign Up With Google
          </button>
          <br />
          <a href="signup.html" class="btn">Create An Account</a>
          <br />

          <h3>Already have an account ?</h3>
          <a href="login.html" class="btn">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
