<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <img src="/utilities/SocioLogo.png" alt="Logo" class="logo" />

      <form action="/login" method="post">
        <input type="text" placeholder="Username" required />
        <input type="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
      <h5>Don't have an account?</h5>
      <form action="/signup" method="get">
        <button class="signup-btn">Sign Up</button>
      </form>
    </div>
  </body>
</html>
