<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device--width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="profView.css" />
  </head>
  <body>
    <div class="container">
      <h1>Profile</h1>
      <img src="SocioLogo.png" alt="Logo" class="logo" />
      <div class="box">
        <h4>Username</h4>
        <div class="username">
          <h5>@random_girl</h5>
        </div>
        <h4>E-mail</h4>
        <div class="mail">
          <h5>scoobydooby@yandex.com</h5>
        </div>
        <h4>Bio</h4>
        <textarea
          class="bio"
          placeholder="This is my biooooooo......."
        ></textarea>
        <br /><br />
        <button class="btn" type="submit">Save Changes</button>
      </div>
    </div>
  </body>
</html>
