<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Account</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <% if(success && success.length){ %>
      <div class="success">
        <h3><%=success%></h3>
      <% } %>
      <% if(error && error.length){ %>
        <div class="error">
          <h3><%=error%></h3>
        <% } %>
    <div class="container">
      <h1>Create your account</h1>
      <img src="/utilities/SocioLogo.png" alt="Logo" class="logo" />

      <form
        id="signup-form"
        action="/signup"
        method="post"
      >
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          required
        />
        <input type="email" placeholder="Enter Email" name="email" required />
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <label for="dob">Date of birth</label>
        <input type="date" name="dob" id="dob" required />

        <button>Signup</button>
      </form>
      <h5>Already a Socion?</h5>
      <form action="/login" method="get">
        <button class="login-btn">Login</button>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("signup-form")
          .addEventListener("submit", function (event) {
            if (!validateAge()) {
              event.preventDefault();
            }
          });
      });

      function validateAge() {
        let dobInput = document.getElementById("dob").value;

        let dob = new Date(dobInput);
        let today = new Date();

        let age = today.getFullYear() - dob.getFullYear();

        if (age < 18) {
          alert("You must be at least 18 years old to sign up.");
          return false;
        }

        return true;
      }
    </script>
  </body>
</html>
